@import '../../Vars.scss';
.main{
    height: 10vh;
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: $primary-green;
    p{
        margin: 10px;
    }
    img{
        height: 8vh;
    }
}