:root {
	--verde-claro: #acfa58;
	--verde-oscuro: #154360;
	--violetita: #201640;
	--bordes: 2px solid #9e9e9e;
}

body {
	background-color: var(--verde-oscuro);
}
#logo {
	width: 8vw;
}
h1 {
	font-size: 8vw;
	color: var(--verde-claro);
	font-style: oblique;
	text-align: center;
}

nav {
  width: 25vw;
  height: 3.2vh;
  margin:2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  transition: width 0.3s;
  transition-timing-function: ease;
}

nav:hover {
  width:95%;
}

nav a:not(.active) {
  color: white;
  font-size: 1.6vh;
}

nav a.active {
  width: 15vw;
  background: var(--violetita);
  border: var(--bordes);
  border-radius: 20px;
  color: var(--verde-claro);
  font-size: 1.6vh;
  text-align: center;
  text-decoration: none;
  order:-1;
}

nav a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 20px;
  border: var(--bordes);
  border-radius: 20px;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 1px 10px;
}

section {
	background-color: var(--violetita);
	border: var(--bordes);
	border-radius: 20px;
}
p {
	color: #bdbdbd;
	font-size: 1.6em;
}
h2 {
	color: white;
	margin-left: 2vw;
}
.image {
	width: 103%;
	border: var(--bordes);
	border-radius: 20px;
	box-shadow: 1px 1px 20px black;
}
#image3{
	border: var(--bordes);
	border-radius: 20px;
	box-shadow: 1px 1px 20px black;
}

@media (orientation:landscape) {
  	.image, #image3 {
      display: none;
  	}
  	nav {
	  width: 18vw;
	  height: 7vh;
	  margin:2vw;
	}
	nav a:not(.active) {
	  font-size: 3vh;
	}

	nav a.active {
	  width: 10vw;
	  font-size: 3vh;
	}
}

/*prubas*/

.triangulo {
    border-style: solid;
    border-width: 18px;
    width: 0;
    height: 0;
    order:-1;
}
.triangulo>div {
    border-style: solid;
    border-width: 10px;
    width: 0;
    height: 0;
    position:relative;
}

.triangulo.derecha{
    border-color: transparent transparent transparent black;
}
.triangulo.derecha>div {
    border-color: transparent transparent transparent var(--verde-claro);
    top:-10px;
    left:-21px;
}
nav:hover .triangulo{
	order:0;
	transform: rotate(180deg);
}