:root {
	--verde-claro: #acfa58;
	--verde-oscuro: #154360;
	--violetita: #201640;
	--bordes: 2px solid #9e9e9e;
}

body {
	background-color: var(--verde-oscuro);
}
#app{
  width: 100vw;
  height: 100vh;
}
h1 {
	font-size: 8vw;
	color: var(--verde-claro);
	font-style: oblique;
	text-align: center;
}
#logo{
  width: 100%;
}
nav {
	width: 12%;
	height: 7%;
  	margin:2vw;
  	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
  	overflow: hidden;
  	transition: width 0.3s;
  	transition-timing-function: ease;
}

nav:hover {
  	width:95%;
}

nav a:not(.active) {
  	color: white;
}

nav a.active {
  	background: var(--violetita);
  	border: var(--bordes);
  	border-radius: 20px;
  	padding: 1px 10px;
  	margin-right: 10px;
  	color: var(--verde-claro);
  	text-align: center;
  	text-decoration: none;
  	order:-1;
}

nav a:hover:not(.active) {
  	background-color: #ddd;
  	border-radius: 20px;
  	border: var(--bordes);
  	border-radius: 20px;
  	color: black;
  	text-align: center;
  	text-decoration: none;
  	padding: 1px 10px;
}

.flecha {
    border-style: solid;
    border-width: 18px;
    width: 0;
    height: 0;
    order:-1;
}
.flecha>div {
    border-style: solid;
    border-width: 10px;
    width: 0;
    height: 0;
    position:relative;
}
.flecha.derecha{
    border-color: transparent transparent transparent black;
}
.flecha.derecha>div {
    border-color: transparent transparent transparent var(--verde-claro);
    top:-10px;
    left:-21px;
}
nav:hover .flecha{
	order:0;
	transform: rotate(180deg);
}

section {
	background-color: var(--violetita);
	border: var(--bordes);
	border-radius: 20px;
}
p {
	color: #bdbdbd;
	margin:0;
}
h2 {
	color: white;
	margin-left: 2vw;
}

/*prubas*/

@media only screen and (max-width: 375px) {
	h1{
		font-size: 4vh;
	}
	#logo{
		width: 200%
	}
	nav{
		width: 40vw
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}

