*{
  margin: 0;
  padding: 0;
}
body{
  background-color:lightblue;
  header{
    display: flex;
    justify-content: space-between ;
  }
  .tablero{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between ;
    margin: 50px;
    .carta{
      width: 200px;
      height: 250px;
      margin: 10px;
      .dorso{
        width: 200px;
        height: 250px;
        background-color: greenyellow;
        border: 3px solid rgb(26, 75, 33);
        border-radius: 20px;
        display:flex;
        justify-content: center;
        align-items: center;
      }
      .cara{
        width: 200px;
        height: 250px;
        border: 3px solid rgb(26, 75, 33);
        border-radius: 20px;
      }
    }
  }
}
